%div{:style => 'display:none'}
  %h2 Set Watch
  %p 
    Select a HN user to watch (e.g. pg, patio11).
    %a{:href => "/watch"} See the watchlist.

  %form{:method => 'post', :action => '/watch'}
    %input{:type => 'text', :name => 'user'}
    %input{:type => 'submit', :value => 'Watch'}
  <br/>

%h2 Watch Articles
%p These are the items being discussed by watched users.

- ycit = 'http://news.ycombinator.com/item?id='
%ul.simple
  - @top.each do |posting|
    - item = posting.first
    - watch = posting.last
    %li
      - if !item.title.blank? and !item.link.blank?
        %div.meta{:style => 'float:right;'}
          %a{:href => "#{ycit}#{item.pid}"}= "#{item.pntx} pt, #{item.cmtx} cx"
        %div
          %a{:href => "/watch/activity/#{item.pid}"}= "[+#{watch}]"
          %a{:href => item.link}= item.title 

%div.stats
  - if @stats
    %p= "Postings: #{@stats[:posts]}, Avatars: #{@stats[:avatars]}, Watched: #{@stats[:watched]}"
  - else 
    %p No stats.
			
