%h2 Top 10x10
%p These are the top 10 items by points in the last 10 hours. 

%ul.simple
	- @top10.each do |item|
		%li
			%a{:href => item.link}= item.title 

%div.stats
	- if @stats
		%p= "Postings: #{@stats[:posts]} Avatars: #{@stats[:avatars]}"
		- if @stats and @stats[:at]
			%p= "Last refreshed at #{@stats[:at]} in #{@stats[:duration]}"
		- else
			%p Not fully refreshed yet.
	- else 
		%p No stats.
			
