%h2 Top 10x10
%p These are the top 10 items by points in the last 10 hours. 

%ul.simple
	- @top10.each do |item|
		%li
			%div
				%a{:href => item.link}= item.title 
			%div.meta= "#{item.pntx} points, #{item.cmtx} comments"

%div.stats
	- if @stats
		%p= "Postings: #{@stats[:posts]} Avatars: #{@stats[:avatars]}"
		%p= @stats[:refresh]
	- else 
		%p No stats.
			
