!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
          %div{:style => 'float:right; text-align:right'}
            %ul.horizontal
              %li
                %a{:href => '/watch'} Watchlist
              %li
                %a{:href => '/hners'} Streams
              %li
                %a{:href => '/hners/new'} Create Stream
          %div{:style => 'clear:both;'}

      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.app} &mdash;"
